<!DOCTYPE html>
<html>
<head>
  <title>Web Scraping Behind Login Auth Page</title>
  <meta charste="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/styles/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  </script>
  <style>
    body, h1, h2, h3, h4, h5 { font-family: "Raleway", sans-serif}
  </style>
</head>
<body style="background-color: #e7ecf0;">
  <div class="container" style="max-width: 800px;">
    <nav class="navbar-brand mt-3">
      <h2><b>Mofii.NET</b></h2>
    </nav>
    <div class="row">
      <div class="col-8">
        <a class="twitter-timeline" href="https://twitter.com/MofiiTech" data-chrome="noheader" data-height="100" data-tweet-limit="8">Tweets by Mofii</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></body>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Navigation
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">.ME <span style="font-size: 14px">(not available right now)</span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#aboutModal" style="color: inherit;">About this site</a></li>
            <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="aboutModal">About this site</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Welcome to my blog.</p>
                    <p>This is where I escape from all the attention and judgement.</p>
                    <p>No comments, no likes.</p>
                    <p>Hope you would enjoy the posts, and welcome to conatact me at mofii.cs@gmail.com.</p>
                    <p>- Mofii</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="card mt-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Timeline failed to load?</h5>
            <p class="card-text">Twitter may be not available for some reason. Click the link below to for a twitter-UNfriendly site.</p>
            <a href="/wall/1" class="card-link"><b>Link</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>